<%- include('header'); %>

<div class="container">

    <%=title %>
 
    <a href="/profile">Profile</a>
    <br/>
    <a href="/transfer">Transfer</a>

</div>

<%- include('summary',{account:accounts.savings}); %>

<%- include('summary',{account: accounts.checking}); %>

<%- include('summary',{account: accounts.credit}); %>

<%- include('footer'); %>

